.linksContainer{
    font-family: 'Muli', sans-serif;
    font-size: 72px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.linksContainer a {
    text-decoration: none;
    font-family: 'Futura Md BT', sans-serif;
    color: black;
}

.center-container {
    font-family: 'Muli', sans-serif;
    text-align: center;
    font-size: 1.2rem;
  }

  .container {
    width: 30%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
  }

  .container img {
    max-width: 100%;
    height: auto;
  }

  /* .fit-div {
    margin: 0 auto;
    text-align: center;
  }
  .fit-img {
    max-height: 550px;
  } */