ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -20px;
}
ul.dashed > li:before {
  content: "-     ";
  text-indent: -20px;
}

li {
  margin:0 0 5px 0;
  padding-left:0px;
}
li span {
  position: relative;
}

@media (max-width: 600px) {
  li {
    margin:0 0 5px 0;
    padding-left:0px;
  }
  li span {
    position: relative;
    left: 0;
  }
}